<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>进货记录列表</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../../js/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../../js/bootstrap.min.js"></script>
    <!--Bootstrap Table-->
    <script src="../../js/bootstrap-table.min.js"></script>
</head>

<body>
    <div style="padding:0px; margin:0px;">
        <ul class="breadcrumb" style="  margin:0px; ">
            <li>进货管理</li>
            <li>进货记录</li>
            <li>记录列表</li>
        </ul>
    </div>
    <div class="row alert alert-info" style="margin:0px; padding:3px;">
        <form class="form-inline" action="purchase_list.html">
            <div class="form-group">
                <label class="" for="activename">商品名称：</label>
                <input type="text" name="kw" class="form-control" id="activename" placeholder="请输入商品名称">
            </div>
            <input type="submit" class="btn btn-danger" value="查询" />
        </form>
    </div>
    <div class="row" style="padding:15px; padding-top:0px; ">
        <table class="table  table-condensed table-striped" id="mytable">
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $('#mytable').bootstrapTable({
                columns: [{
                    field: 'id',
                    title: '进货批号'
                }, {
                    field: 'supplierName',
                    title: '供应商',
                    formatter: function (value, row, index) {
                        return row.suppliers[0].supplierName
                    }
                }, {
                    field: 'barCode',
                    title: '商品条码',
                    formatter: function (value, row, index) {
                        return row.products[0].barCode
                    }
                }, {
                    field: 'categoryName',
                    title: '品类',
                    formatter: function (value, row, index) {
                        return row.categories[0].categoryName
                    }
                }, {
                    field: 'productName',
                    title: '商品名称',
                    formatter: function (value, row, index) {
                        return row.products[0].productName
                    }
                }, {
                    field: 'purchasePrice',
                    title: '进货单价(元)'
                }, {
                    field: 'purchaseCount',
                    title: '进货数量'
                }, {
                    field: 'purchaseAmount',
                    title: '进货金额'
                }, {
                    field: 'expDate',
                    title: '保质期限'
                }
                ],
                showToggle: false,
                showRefresh: false,
                locale: 'zh-CN',//中文支持
                //页面需要展示的列，后端交互对象的属性
                pagination: true,  //开启分页
                sidePagination: 'server',
                pageNumber: 1,//默认加载页
                pageSize: 10,//每页数据
                pageList: [5, 10, 15, 20],//可选的每页数据
                queryParamsType: '',//queryParamsType的默认值为 'limit' ,在默认情况下 传给服务端的参数为：offset,limit,sort
                //设置为 ''  在这种情况下传给服务器的参数为：pageSize,pageNumber */
                queryParams: function (params) {
                    return {
                        pageNo: params.pageNumber,
                        pageSize: params.pageSize
                    }
                },//请求服务器数据时的参数
                url: 'http://localhost:9000/api/v2/purchase/', //服务器数据的加载地址
                responseHandler: function (res) {
                    //在ajax获取到数据，渲染表格之前，修改数据源
                    var nres = [];
                    nres.push({
                        total: res.data.total,
                        rows: res.data.list
                    });
                    return nres[0];

                }
            });
        })
    </script>
</body>

</html>