<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>供应商列表</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../../js/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../../js/bootstrap.min.js"></script>
    <!--Bootstrap Table-->
    <script src="../../js/bootstrap-table.min.js"></script>
</head>

<body>
    <div style="padding:0px; margin:0px;">
        <ul class="breadcrumb" style="  margin:0px; ">
            <li>进货管理</li>
            <li>供应商</li>
            <li>供应商列表</li>
        </ul>
    </div>
    <div class="row alert alert-info" style="margin:0px; padding:3px;">
        <form class="form-inline" id="ajaxForm">
            <div class="form-group">
                <label class="" for="activename">供应商名称：</label>
                <input type="text" name="kw" class="form-control" id="activename" placeholder="请输入供应商名称">
            </div>
            <input type="submit" class="btn btn-danger" value="查询" />
            &nbsp;&nbsp;
            <a class="btn btn-success" href="supplier_add.html">添加供应商</a>
        </form>
    </div>
    <div class="row" style="padding:15px; padding-top:0px; ">
        <table class="table  table-condensed table-striped" id="mytable">
            <thead>
                <tr>
                    <th data-field="id">供应商编号</th>
                    <th data-field="supplierName">供应商名称</th>
                    <th data-field="contactsName">联系人</th>
                    <th data-field="tel">联系电话</th>
                    <th data-field="address">地址</th>
                    <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">操作</th>
                </tr>
            </thead>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $('#mytable').bootstrapTable({
                showToggle: false,
                showRefresh: false,
                locale: 'zh-CN',//中文支持
                //页面需要展示的列，后端交互对象的属性
                pagination: true,  //开启分页
                sidePagination: 'server',
                pageNumber: 1,//默认加载页
                pageSize: 10,//每页数据
                pageList: [5, 10, 15, 20],//可选的每页数据
                queryParamsType: '',//queryParamsType的默认值为 'limit' ,在默认情况下 传给服务端的参数为：offset,limit,sort
                //设置为 ''  在这种情况下传给服务器的参数为：pageSize,pageNumber */
                queryParams: function (params) {
                    return {
                        pageNo: params.pageNumber,
                        pageSize: params.pageSize
                    }
                },//请求服务器数据时的参数
                url: 'http://localhost:9000/api/v2/supplier/', //服务器数据的加载地址
                responseHandler: function (res) {
                    //在ajax获取到数据，渲染表格之前，修改数据源
                    var nres = [];
                    nres.push({ total: res.data.total, rows: res.data.list });
                    return nres[0];
                }
            });
        })
    </script>
     <script>
        var $table = $('#mytable')

        function operateFormatter(value, row, index) {
            return [
                '<a class="modify" href="javascript:void(0)" title="modify">',
                '<span>修改</span>',
                '</a>  ',
                '<a class="remove" href="javascript:void(0)" title="remove">',
                '<span>删除</span>',
                '</a>'
            ].join('')
        }

        window.operateEvents = {
            'click .modify': function (e, value, row, index) {
                //把表格数据存入sessionStorage
                sessionStorage.setItem("id", JSON.stringify(row.id))
                sessionStorage.setItem("supplierName", JSON.stringify(row.supplierName))
                sessionStorage.setItem("contactsName", JSON.stringify(row.contactsName))
                sessionStorage.setItem("tel", JSON.stringify(row.tel))
                sessionStorage.setItem("address", JSON.stringify(row.address))
                window.location.href = "supplier_modify.html"
            },
            'click .remove': function (e, value, row, index) {
                $.ajax({
                    url: "http://localhost:9000/api/v2/supplier/" + JSON.stringify(row.id),
                    type: "DELETE"
                })
                window.location.href = "supplier_list.html"
            }
        }
    </script>
     <script>
        // 模糊查询，前后端分离思路，点击查询按钮
        // 使用ajax from绑定表单提交事件
        // 在回调函数中使用bootstrap table调用ajax重新渲染表单

        //jquery.form.js 点击表单提交按钮的事件
        $(      //页面加载完执行
            $("#ajaxForm").on("submit", function () {    //表单提交时监听提交事件
                // $(this).ajaxSubmit(options);    //当前表单执行异步提交，optons 是配置提交时、提交后的相关选项

                let kw = $("input[name = 'kw']").val()
                console.log(kw)
                $('#mytable').bootstrapTable('refresh', {
                    showToggle: false,
                    showRefresh: false,
                    locale: 'zh-CN',//中文支持
                    //页面需要展示的列，后端交互对象的属性
                    pagination: true,  //开启分页
                    sidePagination: 'server',
                    pageNumber: 1,//默认加载页
                    pageSize: 10,//每页数据
                    pageList: [5, 10, 15, 20],//可选的每页数据
                    queryParamsType: '',//queryParamsType的默认值为 'limit' ,在默认情况下 传给服务端的参数为：offset,limit,sort
                    //设置为 ''  在这种情况下传给服务器的参数为：pageSize,pageNumber */
                    queryParams: function (params) {
                        return {
                            pageNo: params.pageNumber,
                            pageSize: params.pageSize
                        }
                    },//请求服务器数据时的参数
                    url: 'http://localhost:9000/api/v2/supplier/search?supplierName=' + kw, //服务器数据的加载地址
                    responseHandler: function (res) {
                        //在ajax获取到数据，渲染表格之前，修改数据源
                        var nres = [];
                        nres.push({ total: res.total, rows: res.list });
                        return nres[0];
                    }
                });

                return false;   //  必须返回false，才能跳到想要的页面
            })
        )
    </script>
</body>

</html>